@use '../../styles-for-export/styles-for-export' as *;

.main-body{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 350px;
    @media only screen and (max-width: 1224px)  {

    }
}

// .show-more-btn{
//     margin: 10px 0px;
//     @include flex-X-center;
//     border-top: 1px solid $color_main;
//     padding: 20px 0px;
//     button{
//         background-color: $color_main;
//         @include shadow;
//         width: 250px;
//         height: 40px;
//         font-size: 20px;
//         color:white;
//     }
// }

.error-msg{
    @include flex-Y-center;
    width: 250px;
    height: 250px;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    grid-column: 1 / 6;
}

.not-found-msg{
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    display: block;
    width: 150px;
    height: 150px;
    background-image: url('../../../public/icons/notfound.png');
    background-size: cover;
}


