@use '../../styles-for-export/styles-for-export' as *;

.navi {
    background-color:$color_main;
    border-top: 1px solid white;
    color: white;
}
.navi-list {
    display: flex;
}
.navi-list__item {
    border: 1px solid white;
    margin: 10px 10px 10px 0px;
    padding: 10px 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @include flex-XY-center;
    a{
        color: white;
    }
    
}