@use '../../styles-for-export/styles-for-export' as *;

.navi {
    background-color:$color_main;
    border-top: 1px solid white;
    color: white;
}
.navi-list {
    display: flex;
    justify-content: space-between;
}
.navi-list__item {
    padding: 10px 5px;
    width: 130px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    @media only screen and (max-width: 484px)  {
        font-size: 14px;
    }
    &:first-child{
       text-align: left;
    }
    &:last-child{
       text-align: right;
    }
    a{
        color: white;
    }
    
}